<style>
  a{
    color: black;
  }
</style>
<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="col-md-3 col-md-offset-2 col-xs-12">
      <h4>Links</h4>
      <a [routerLink]="['/about-us']">About Us</a><br>
      <a [routerLink]="['/track-order']">Track Order</a><br>
      <a [routerLink]="['/product', 1]">Fidget Cube</a><br>
      <a [routerLink]="['/refund-policy']">Refund Policy</a><br>
      <a [routerLink]="['/terms-of-service']">Terms of Service</a><br>
      <a [routerLink]="['/privacy-policy']">Privacy Policy </a><br>
      <a [routerLink]="['/contact-us']">Contact Us</a>
    </div>
        <div class="col-md-3 col-xs-12">
      <h4>Follow Us</h4>
      <a href="https://www.facebook.com/fidgetcubein/" target="_blank"><img width="50px" src="/assets/images/facebook-icon.png"></a>  
      <a href="https://www.instagram.com/fidgetcubein/" target="_blank"><img  width="34px" src="/assets/images/instagram_icon.png"></a>  
      <a href="https://www.youtube.com/channel/UCuSQS6jPQEqnScyl4E73H6Q" target="_blank"><img width="50px" src="/assets/images/youtube-icon.png"></a> 
    </div>
            <div class="col-md-3 col-xs-12">
      <h4>Contact Us</h4>
      support@fidgetcube.in
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 text-center">
        <p>Copyright &copy; 2017, Bachelor Baba Online.</p>
      </div>
    </div>
  </footer>

</div>