<div class="container">
  <div class="col-md-10 col-xs-12">
    <accordion [closeOthers]=true>
      <accordion-group #group1 [isOpen]="!status.isFirstOpen">
        <div accordion-heading>
          Order Summary
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>
        </div>
        <!--Order Summary Start-->
        <div *ngIf="cartProducts" class="col-md-12">
          <div style="font-size: 18px" class="row cart-row hidden-xs">
            <div class="col-md-6"></div>
            <div class="col-md-2">Price</div>
            <div class="col-md-2">Quantity</div>
            <div class="col-md-2">Total</div>
          </div>

          <div *ngFor="let cartProduct of cartProducts" class="row cart-row">
            <div class="col-md-2"><img width="100%" src="{{cartProduct?.product?.imageLinks[0]}}"></div>
            <div class="col-md-4">{{cartProduct.product?.title}}
              <br>{{cartProduct.variantName}}
            </div>
            <div class="visible-xs">
              <div class="col-xs-4">Price</div>
              <div class="col-xs-4">Quantity</div>
              <div class="col-xs-4">Total</div>
            </div>
            <div class="col-md-2 col-xs-4">{{cartProduct.product?.price}}</div>
            <div class="col-md-2 col-xs-4">{{cartProduct.qty}}</div>
            <div class="col-md-2 col-xs-4">{{cartProduct.qty*cartProduct.product?.price}}</div>
          </div>
          <div class="row ">
            <div class="col-md-offset-9 col-md-3">
              <h4>Subtotal:<b> &#x20b9; {{subTotal}}</b></h4>
            </div>
          </div>


        </div>
        <!--Order Summary End-->
      </accordion-group>
      <accordion-group #group2 [isOpen]="status.isFirstOpen">
        <div accordion-heading>
          Customer Information
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
        </div>
        <!--Customer Info Start-->
        <div class="col-md-9">

          <form #cusInfoForm="ngForm" (ngSubmit)="(cusInfoForm.valid) && (group3.isOpen = !group3.isOpen)">

            <div class="form-group col-md-6">
              <label for="Firsrt name">First name</label>
              <input type="text" class="form-control" id="fname" required [(ngModel)]="cusInfo.fname" #fname="ngModel" name="fname">
              <div *ngIf="fname.invalid && (fname.dirty || fname.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="fname.errors.required">
                First Name is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-6">
              <label for="Last name">Last name</label>
              <input type="text" class="form-control" id="lname" [(ngModel)]="cusInfo.lname" name="lname">
            </div>
            <div class="form-group col-md-12">
              <label for="Email">Email</label>
              <input type="text" class="form-control" id="email" required [(ngModel)]="cusInfo.email" #email="ngModel" name="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-12">
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="address" required [(ngModel)]="cusInfo.address" #address="ngModel" name="address">
            <div *ngIf="address.invalid && (address.dirty || address.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="address.errors.required">
                Address is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-12">
              <label for="Phone">Phone</label>
              <input type="text" class="form-control" id="phone" required [(ngModel)]="cusInfo.phone" #phone="ngModel" name="phone">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="phone.errors.required">
                Phone Number is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="City">City</label>
              <input type="text" class="form-control" id="city" required [(ngModel)]="cusInfo.city" #city="ngModel" name="city">
            <div *ngIf="city.invalid && (city.dirty || city.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="city.errors.required">
                City is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="State">State</label>
              <select class="form-control" id="state" required [(ngModel)]="cusInfo.state" #state="ngModel" name="state">
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
            <div *ngIf="state.invalid && (state.dirty || state.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="state.errors.required">
                State is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="Pincode">Pincode</label>
              <input type="text" class="form-control" id="pincode" required [(ngModel)]="cusInfo.pincode" #pincode="ngModel" name="pincode">
           <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched || cusInfoForm.submitted)" class="alert alert-danger">
              <div *ngIf="pincode.errors.required">
                Pincode is required
              </div>
            </div>
            </div>
            <div class="form-group col-md-12">
              <br><button type="submit" class="btn btn-primary pull-right" [disabled]="!cusInfoForm.valid">Continue</button>

            </div>
          </form>

        </div>
        <!--Customer Info End-->
      </accordion-group>
      <accordion-group #group3 [isDisabled]="!cusInfoForm.valid">
        <div accordion-heading>
          Payment Method
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group3?.isOpen, 'glyphicon-chevron-right': !group3?.isOpen}"></i>
        </div>
        <!--payment method start-->
        <form #payMethod="ngForm">
          <div class="form-group">
            <label><input type="radio" required  name="payment" value="ONLINE"  [(ngModel)]="paymentType"> Credit Card, Debit Card or Net Banking</label>
          </div>
          <div class="form-group">

            <label><input type="radio"  name="payment"  value="COD"  [(ngModel)]="paymentType" > Cash On Delivery</label>
          </div>
        </form>
        <div class="form-group col-md-12">
          <!--form for payment start-->
          <form #payForm action="https://secure.payu.in/_payment" method="POST">

            <input type="hidden" name="key" value="{{payInfo.key}}">
            <input type="hidden" name="hash"  value="{{payInfo.hash}}">
            <input type="hidden" name="txnid" value="{{payInfo.txnid}}">
            <input type="hidden" name="amount" value="{{payInfo.amount}}" />
            <input type="hidden" name="firstname" value="{{payInfo.firstname}}" />
            <input type="hidden" name="email" value="{{payInfo.email}}" />
            <input type="hidden" name="phone" value="{{payInfo.phone}}" />
            <input type="hidden" name="productinfo" value="{{payInfo.productinfo}}">
            <input type="hidden" name="surl" size="64" value="{{payInfo.surl}}">
            <input type="hidden" name="furl" size="64" value="{{payInfo.furl}}">
            <input type="hidden" name="service_provider" value="{{payInfo.serviceProvider}}" />

          </form>
          <!--form for payment end-->
          <br><button [disabled]="!payMethod.valid" class="btn btn-primary pull-right" (click)="placeOrder(payForm)" [attr.disabled]="placeOrderBtnClicked?true:null">Complete Order<span *ngIf="placeOrderBtnClicked"><img style="max-width: 20px; margin-left: 5px;" src="/assets/images/spinner.gif"></span></button>

        </div>

        <!--payment method end-->
      </accordion-group>
    </accordion>
  </div>
</div>
<footer-main></footer-main>