<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body>


    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="padding-bottom: 50px">
                <img src="assets/images/Fidget_Cube_Logo-2_450x.png" alt="Fidget Cube India">
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">
                <!--<p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>-->
            </div>

            <div class="col-md-8">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <carousel>
                            <slide>
                                <img class="slide-image" src="assets/slider/1.png" alt="First slide">
                            </slide>
                            <slide>
                                <img class="slide-image" src="assets/slider/2.png" alt="First slide">
                            </slide>
                            <slide>
                                <img class="slide-image" src="assets/slider/3.png" alt="First slide">
                            </slide>
                            <slide>
                                <img class="slide-image" src="assets/slider/4.png" alt="First slide">
                            </slide>
                            <slide>
                                <img class="slide-image" src="assets/slider/5.png" alt="First slide">
                            </slide>
                            <slide>
                                <img class="slide-image" src="assets/slider/6.png" alt="First slide">
                            </slide>
                        </carousel>
                    </div>

                </div>
                <div class="row">
                    <h2>Buy Fidget Cube Now</h2>
                </div>

                <div class="row">
                    <div *ngFor="let product of products" [routerLink]="['/product', product.id]" class="col-xs-6 col-sm-4 col-lg-4 col-md-4">

                        <div class="thumbnail">
                            <img src="{{product.imageLinks[0]}}" alt="">
                            <div class="caption">

                                <p class="title"><a [routerLink]="['/product', product.id]"><span style="text-transform: capitalize;">{{product.title}}</span></a>
                                    
                                </p>
                                <h4>&#x20b9; {{product.price}} <span class="origPrice"><del>{{product.origPrice}}</del></span></h4>

                            </div>
                            <!--<div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>-->
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
    <div class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h1>Introducing Fidget Cube</h1>
    <div class="hidden-xs">
        <iframe width="850" height="480" src="https://www.youtube.com/embed/9HLXJniHaLE">
</iframe> 
    </div>
    <div class="visible-xs">
        <iframe width="320" height="200" src="https://www.youtube.com/embed/9HLXJniHaLE">
</iframe> 
    </div>
   
    </div>
    </div>


    <!-- /.container -->
<footer-main></footer-main>

</body>

</html>