<!--<div *ngIf="product">
  <h2>{{product?.id}} details!</h2>
  <div><label>id: </label>{{product?.id}}</div>
  <div>  <label>name: </label>  {{product?.title}} </div>
  <div>
    <label>price: </label>
    {{product?.price}}
  </div>
  <div>
  <label>Original Price: </label>
    {{product?.origPrice}}
  </div>
  <div>
  <label>Description: </label>
    {{product?.description}}
  </div>
</div>
<button (click)="goBack()">Back</button>

<button (click)="addToCart(product)">Add</button>
<button (click)="getCart()">View Cart</button>-->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

</head>

<body *ngIf="product">

  <div *ngFor="let alert of alerts" style="position: fixed;z-index: 10" class="col-xs-12 col-md-12 text-center">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">

      <div>
        <div class="col-xs-12 col-md-12 text-center" style="padding-bottom: 50px">
          <img src="assets/images/Fidget_Cube_Logo-2_450x.png" alt="Fidget Cube India">
        </div>
      </div>

      <div>

        <div class="col-xs-12 col-md-6">
          <div><img width="100%" max-height="300px" src="{{imageLink}}"></div>
          <div style="margin-top:100px ">
            <div *ngFor="let imageLink of product?.imageLinks" style="cursor: pointer">
              <img width="100%" src="{{imageLink}}" (click)="changeImage(imageLink)" class="col-md-4 col-xs-4">
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">


          <div>
            <h1 style="text-transform: capitalize">{{product?.title}}</h1>
          </div>

          <div>
            <h4><span class="price">&#x20b9; {{product?.price}}</span> <span class="origPrice"><del>&#x20b9; {{product?.origPrice}}</del></span></h4>
          </div>

          <div>

            <div *ngFor="let variantType of totVarType">
              <label>{{variantType}}:</label>
              <select class="variant-dropdown" [(ngModel)]="selectedVar" name="selectedVar">
            
            <ng-container  *ngFor="let variant of product?.variants">
              <option *ngIf="variant.variantType==variantType"  [ngValue]="variant.id">
              {{variant.variantName}}
              </option>
              </ng-container>
              
           
          </select>
            </div>





          </div>
          <div>
            <label>Quantity:</label><br/>
            <input class="variant-dropdown" type="number" [(ngModel)]="qty" name="qty" pattern="^[1-9][0-9]?$|^100$" required #quty="ngModel">
            <div *ngIf="quty.invalid && (quty.dirty || quty.touched)" class="alert alert-danger">
              <div *ngIf="quty.errors.required">
                Quantity is required
              </div>
              <div *ngIf="quty.errors.pattern">
                Quantity should be between 1-100
              </div>
            </div>
            
            </div>
            <div>
              <button class="btn add-to-cart" (click)="quty.valid && addToCart(product,selectedVar)" name="add">
            
              <span>Add to Cart</span>
            </button>


            </div>

            <div style="font-size: 16px;">
              <div [innerHTML]="product?.description | keepHtml"></div>


            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- /.container -->


    <footer-main></footer-main>

</body>

</html>